body {
    direction: rtl;
    padding-top: 60px;
}

div.container {
    text-align: center;
    width: 30%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

input,
button {
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid #FFFFFF;
    background: #EFEEEE;
    width: 80%;
    transition: all ease-in-out 0.5s;
}

input:focus {
    border: none;
    outline: none;
    width: 90%;
}

button:hover {
    background: #3fb33f;
}

button {
    cursor: pointer;
    background: #6daa6d;
    margin: 0;
}

.error-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}

.success-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3fb33f;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}

#main-title {
    margin-bottom: 0;
    font-size: 20px;
}

#register-link {
    text-decoration: none;
    color: #2563eb;
}


#forget-password{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.8);
    transition: all 0.6s ease;
}

#forget-password:hover{
    color:#27ae60;
}
@media (max-width: 768px) {
    div.container {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    input,
    button {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
    }

    #main-title {
        font-size: 18px;
    }

    #register-link {
        font-size: 14px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 480px) {
    div.container {
        width: 90%;
        margin-top: 20px;
        padding: 20px;
    }

    #main-title {
        font-size: 16px;
    }

    input,
    button {
        padding: 14px;
    }

    #register-link {
        font-size: 14px;
    }


    input,
    button {
        margin-bottom: 15px;

    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
