@font-face {
    src: url("../Fonts/Iranian Sans.ttf");
    font-family: 'IranSans';
}

@font-face {
    src: url("../Fonts/Vazir.ttf") format("ttf");
    src: url("../Fonts/Vazir.woff") format("woff");
    font-family: 'Vazir';
}


*{
    font-family: Vazir !important;
}