{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/chart.css" %}">
{% endblock %}
{% block content %}

        <h1 id="chart-h1">نمودار هزینه ها و درآمد ها</h1>
        <div class="filter-box">
            <form action="#" method="post">
            {% csrf_token %}
                <label for="time-filter-expenses">فیلتر زمان هزینه‌ها:</label>
                <select name="spend_time_filter" id="time-filter-expenses">
                    <option {% if spend_filter == "all" %}selected{% endif %}  name="all" value="all">همه</option>
                    <option {% if spend_filter == "last_ten" %}selected{% endif %} name="last_ten" value="last_ten">۱۰ خرج آخر</option>
                    <option {% if spend_filter == "week" %}selected{% endif %} name="week" value="week">هفته گذشته</option>
                    <option {% if spend_filter == "month" %}selected{% endif %} name="month" value="month">ماه گذشته</option>
                    <option {% if spend_filter == "year" %}selected{% endif %} name="year" value="year">سال گذشته</option>
                </select>
                <button id="submit-btn" type="submit">نمایش</button>
            </form>
        </div>

    <div id="chart-container">
            <canvas id="expense-income-chart"></canvas>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static "Spends/Js/chart.js" %}"></script>
{% endblock %}
