{% extends 'base.html' %}
{% load static %}
{% load render_partial %}

{% block title %}بده بستون - صفحه اصلی{% endblock %}
{% block style_tag %}
    <style>
    div.success-box
    {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3fb33f;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;}
    </style>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/dashboard.css" %}">
{% endblock %}


{% block content %}
    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == "success" %}
                <div class="success-box" id="error-message">
                    {{ msg }}
                </div>
            {% elif msg.tags == "error" %}
                <div class="error-box" id="error-message">
                    {{ msg }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container">
    <h1>عزیز، خوش آمدید!{{ username }}</h1>

    <div class="filter-box">
            <form method="post">
                <div>
                {% csrf_token %}
                <label for="time-filter-expenses">فیلتر زمان هزینه‌ها:</label>
                <select name="spend_time_filter" id="time-filter-expenses">
                    <option selected value="select">انتخاب کنید</option>
                    <option {% if spend_filter == "all" %}selected{% endif %}  name="all" value="all">همه</option>
                    <option {% if spend_filter == "last_ten" %}selected{% endif %} name="last_ten" value="last_ten">۱۰ خرج آخر</option>
                    <option {% if spend_filter == "week" %}selected{% endif %} name="week" value="week">هفته گذشته</option>
                    <option {% if spend_filter == "month" %}selected{% endif %} name="month" value="month">ماه گذشته</option>
                    <option {% if spend_filter == "year" %}selected{% endif %} name="year" value="year">سال گذشته</option>
                </select>
                </div>
                <br>
                <div>
                <label for="time-filter-incomes">فیلتر زمان درآمدها:</label>
                <select name="income_time_filter" id="time-filter-incomes">
                    <option selected value="select">انتخاب کنید</option>
                    <option {% if income_filter == "all" %}selected{% endif %} value="all">همه</option>
                    <option {% if income_filter == "last_ten" %}selected{% endif %}  value="last_ten">۱۰ درآمد آخر</option>
                    <option {% if income_filter == "week" %}selected{% endif %} value="week">هفته گذشته</option>
                    <option {% if income_filter == "month" %}selected{% endif %} value="month">ماه گذشته</option>
                    <option {% if income_filter == "year" %}selected{% endif %} value="year">سال گذشته</option>
                </select>
                </div>
                <br>
                <button type="submit" id="filter-btn">نمایش</button>

        </form>

    </div>

    <div class="panel">
        <div class="section expenses">
            <h2>مدیریت هزینه‌ها</h2>
            <button class="add-btn"><a class="link" href="{% url 'add_spend' %}">+ افزودن خرج</a></button>
            <ul class="list">
            {% if spends %}
                    {% for spend in spends %}
                        <li><a href="{{ spend.get_absolute_url }}">{{ spend.title }} | {{ spend.price }}</a></li>
                    {% endfor %}
            {% else %}
                <p class="empty-alert">موردی برای نمایش نمی باشد!</p>
            {% endif %}
            </ul>
            <div class="highlight highest"><span class="icon">💸</span>بیشترین خرج: {{ max_spend }} تومان</div>
            <div class="highlight lowest"><span class="icon">🛒</span>کمترین خرج: {{ min_spend }} تومان</div>
            <div class="highlight average">
               <span class="icon">📊</span>میانگین خرج: {{ avg_spend }} تومان
            </div>
        </div>

        <div class="section incomes">
            <h2>مدیریت درآمدها</h2>
            <button class="add-btn"><a class="link" href="{% url 'add_income' %}">افزودن درآمد</a></button>
            <ul class="list">
                {% if incomes %}
                    {% for income in incomes %}
                        <li><a href="{{ income.get_absolute_url }}">{{ income.title }} | {{ income.price }}</a></li>
                    {% endfor %}
                {% else %}
                    <p class="empty-alert">موردی برای نمایش نمی باشد!</p>
                {% endif %}
            </ul>
            <div class="highlight highest"><span class="icon">💰</span>بیشترین درآمد: {{ max_income }} تومان</div>
            <div class="highlight lowest"><span class="icon">🎁</span>کمترین درآمد: {{ min_income }} تومان</div>
            <div class="highlight average">
            <span class="icon">📊</span>میانگین درآمد: {{ avg_income }} تومان
            </div>
        </div>
    </div>
</div>

    {% render_partial "Spends.views.chart" %}
    {% render_partial "Spends.views.profit_or_loss" %}
{% endblock %}
{% block js %}
    <script src="{% static 'Spends/Js/register.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

