{% extends "base.html" %}
{% load static %}
{% block title %}حذف خرج با موفقیت{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/delete_spend_success.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="message-box">
            <h2> حذف موفق!</h2>
            <p>خرج "<span class="expense-name">{{ name }}</span>" با موفقیت حذف شد.</p>
            <a href="{% url "home_page" %}" class="btn">بازگشت به داشبورد</a>
        </div>
    </div>
{% endblock %}