{% extends "base.html" %}
{% load static %}
{% block title %}ویرایش خرج  با موفقیت{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/edit_income_success.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="message-box">
            <h2 id="success_msg">ویرایش خرج موفق بود</h2>
            <p id="success_p">خرج "<span class="expense-name">{{ name }}</span>" با موفقیت ویرایش شد.</p>
            <a href="{% url "home_page" %}" class="btn">بازگشت به داشبورد</a>
        </div>
    </div>
{% endblock %}