{% extends 'base.html' %}
{% load static %}

{% block title %}فراموشی رمز عبور{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'Spends/Style/login.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
        {% csrf_token %}
         <h1 id="main-title">فراموشی رمز عبور</h1>
        {{ form.email }}
        <button type="submit">تایید</button><br>
        </form>

    {% if form.email.errors %}
        <div id="error-message" class="error-box">
            {{ form.email.errors }}
        </div>
    {% endif %}

    {% if messages %}
        {% for msg in messages %}
            <div id="error-message" class="success-box">
            {{ msg }}
            </div>
        {% endfor %}
    {% endif %}

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'Spends/Js/register.js' %}"></script>
{% endblock %}