{% load static %}
<header id="header_part">
    <h1 id="header_title">بده بستون</h1> <!-- تیتر در سمت راست -->
    <div class="header-content">
        <nav id="header_nav_bar">
             <ul>
                {% if is_login %}
                    <li><a href="{% url "home" %}">صفحه اصلی</a></li>
                    <li><a href="{% url "dashboard" %}">پنل ادمین</a></li>
                    <li><a href="{% url "contact_us_page" %}">تماس با ما</a></li>
                    <li><a href="#">خروج از حساب</a></li>
                {% else %}
                    <li><a href="{% url "home" %}">صفحه اصلی</a></li>
                    <li><a href="{% url "login_page" %}">ورود / ثبت نام</a></li>
                    <li><a href="{% url "contact_us_page" %}">تماس با ما</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
