{% extends "base.html" %}
{% load static %}

{% block styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "Spends/Style/home_page.css" %}">

{% endblock %}

{% block tilte %}صفحه اصلی - بده بستون{% endblock %}

{% block content %}
  <section id="hero" class="section hero">
      <h1 id="main-title">بده بستون</h1>
      <p>با بده بستون میتونی هزینه و درآمد هاتو کنترل کنی و بدونی پولت کجا خرج میشه</p>
      <div class="buttons">
          <a href="#start" class="button mainButtons">
              <i class="fas fa-play"></i> شروع کنید
          </a>

      </div>
  </section>

    <section id="start" class="section start">
    <div class="cards">
        <div class="card">
            <i class="fas fa-wallet"></i>
            <h2>بده بستون چیه؟</h2>
            <p>بده بستون یه پروژه متن بازه که بر اساس یه نیاز شخصی و ایده گرفتن از پروژه جادی شکل گرفته </p><br>
            <p>با بده بستون میتونید به راحتی درآمد و هزینه های خود را مدیریت و تحلیل کنید</p>
            {% if not request.user.is_authenticated %}
                <a href="{% url "login_page" %}" id="StartButton" class="button">ورود به حساب کاربری</a>
                <a href="{% url "account_register" %}" id="StartButton" class="button">ساخت حساب کاربری</a>
            {% else %}
                <a href="{% url "home_page" %}" id="StartButton" class="button">ورود به داشبورد</a>
            {% endif %}
        </div>
    </div>
</section>

    <section id="contact" class="section contact">
        <h2>ارتباط با ما</h2>
        <p id="contact-p">این پروژه هنوز خیلی کوچیکه میدونیم که خیلی جای بهتر شدن داریم<br> شما میتونید با انتقال نظراتتون به ما سرعت بهتر شدن این پروژه رو بیشتر کنید...</p>
        <div class="buttons">
            <a href="{% url "contact_us_page" %}" class="button">فرم تماس</a>
            <a href="https://github.com/AmiraliTanabian/BedeBestoon_Django" class="button">گیت هاب</a>
            <a href="mailto:example@gmail.com" class="button">ایمیل</a>
        </div>
    </section>
{% endblock %}
