{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/income_spend_detail.css" %}">
{% endblock %}

{% block title %}جزییات درآمد{% endblock %}
{% block content %}
    <body class="detail-body">
        <div class="container">
            <h1>جزئیات درآمد</h1>
            <div class="details-box">
                <div class="detail-item">
                    <span class="detail-label">عنوان:</span>
                    <span class="detail-value">{{ income.title }}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-label">مبلغ:</span>
                    <span class="detail-value">{{ income.price }}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-label">توضیحات:</span>
                    <span class="detail-value">{{ income.note }}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-label">تاریخ:</span>
                    <span class="detail-value">{{ income.time }}</span>
                </div>
            </div>
            <div class="button-container">
            <button class="edit-btn" type="button"><a href="{% url "edit_income" income.id %}">ویرایش درآمد</a></button>
            <button class="delete-btn" type="button"><a href="{% url 'delete_income' income.id %}">حذف درآمد </a></button>
            <button class="add-btn" type="button"><a href="{% url "add_income" %}">اضافه کردن درآمد</a></button>
        </div>
        </div>
    </body>
{% endblock %}