{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Spends/Style/header_component.css' %}">
    {% block styles %}{% endblock %}
    {% block style_tag %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body dir="rtl">
    {% render_partial "Spends.views.header" %}
    {% block content %}{% endblock %}
    {% include "Spends/footer_component.html" %}
    {% block js %}{% endblock %}
    {% block script_tag %}{% endblock %}
</body>
</html>