{% extends "base.html" %}
{% load static %}
{% block title %}حذف درآمد با موفقیت{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/delete_income_success.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="message-box">
            <h2 class="delete-income-spend-success"> حذف موفق!</h2>
            <p>درآمد "<span class="expense-name">{{ name }}</span>" با موفقیت حذف شد.</p>
            <a href="{% url "home_page" %}" class="btn">بازگشت به داشبورد</a>
        </div>
    </div>
{% endblock %}