{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "Spends/Style/delete_spend_verify.css" %}">
{% endblock %}

{% block title %}تایید حذف خرج{% endblock %}

{% block content %}
<body>
    <div class="confirmation-modal">
        <h2>آیا مطمئن هستید؟</h2>
        <p> آیا می‌خواهید خرج{{ name }} را حذف کنید؟ این عمل غیرقابل بازگشت است.</p>
        <div class="button-container">
            <form action="#" method="post">
                {% csrf_token %}
                <button name="ok" class="confirm-btn" > بله، حذف شود</button>
                <button name="cancel" class="cancel-btn"><a href="{% url "spend_detail" id%}">لغو</a></button>
            </form>
        </div>
    </div>
</body>
{% endblock %}