{% load static %}
<head lang="fa-IR">
    <link rel="stylesheet" href="{% static "Spends/Style/footer_component.css" %}">
</head>
<body>
    <footer>
    <div class="footer-container">
        <div class="about">
            <h2>درباره ما</h2>
            <p>

                بده بستون یه پروژه متن باز که بر اساس یه نیاز شخصی و البته ایده گرفتن از پروژه جادی شروع شده ، میدونیم که خیلی جای کار داره و داریم تلاش میکنیم بهترش کنیم شما میتونید با نقطه نظراتتون به این کار سرعت ببخشید.
            </p>
            <p>
                میتونید از طریق ایمیل یا فرم تماس با ما باهامون در ارتباط باشید یا توی صفحه گیت هاب پروژه بهمون خبر بدید.
            </p>
        </div>
        <div class="contact">
            <h2>ارتباط با ما</h2>
            <ul>
                <li><a href="https://github.com/AmiraliTanabian/BedeBestoon_Django" target="_blank">گیت‌هاب پروژه</a></li>
                <li><a href="{% url "contact_us_page" %}">فرم تماس با ما</a></li>
                <li><a href="mailto:atanabain@gmail.com">ایمیل</a></li>
            </ul>
        </div>
    </div>
    </footer>
    </body>
