{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خروج از حساب کاربری</title>
    <link rel="stylesheet" href="{% static 'Spends/Style/logout_without_login.css' %}">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <img src="{% static "Spends/Images/logout-icon.png" %}" alt="خروج" class="logout-icon">
            <h1 style="color:firebrick">شما از حساب کاربری بده بستون خود خارج نشدید!</h1>
            <p>به نظر می‌رسد شما قبلاً وارد حساب کاربری خود نشده‌اید یا قبلاً از سیستم خارج شده‌اید. اگر می‌خواهید دوباره وارد شوید، روی دکمه زیر کلیک کنید.</p>
            <div class="buttons">
                <a href="{% url "login_page" %}" class="btn btn-primary">ورود به حساب کاربری</a>
                <a href="{% url "home_page" %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
            </div>
            <p class="footer-message">بده بستون</p>
        </div>
    </div>
    <script src="{% static 'Spends/Js/logout_without_login.js' %}"></script>
</body>
</html>