{% extends 'base.html' %}
{% load static %}

{% block title %}ثبت نام - بدهه بستون{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'Spends/Style/register.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url 'account_register' %}" method="post" >
            <h1 id="main-title">ساخت حساب کاربری</h1>
            {% csrf_token %}

            {{ form_object.username }}
            {{ form_object.email }}
            {{ form_object.password }}
            {{ form_object.again_password }}
            {{ form_object.recaptcha }}

            <button type="submit">ثبت نام</button><br>
            <a id="login-link" href="{% url "login_page" %}">حساب دارید؟‌ وارد شوید</a>
        </form>


        <br>
        {% if form_object.username.errors %}
                <div id="error-message" class="error-box">
                    {{  form_object.username.errors }}
                </div>
        
        {% elif form_object.email.errors %}
            <div id="error-message" class="error-box">
                {{  form_object.email.errors }}
            </div>

        {% elif form_object.non_field_errors %}
            <div id="error-message" class="error-box">
                {{  form_object.non_field_errors }}
            </div>

        {% elif status == 'OK' %}
            <div id="error-message" class="success-box">
                ایمیل تایید برای شما ارسال شد<br> اگر ایمیل را نمیبیند پوشه spam را چک کنید
            </div>
        {% endif %}

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'Spends/Js/verify_account.js' %}"></script>
    <script src="{% static 'Spends/Js/register.js' %}"></script>
{% endblock %}
