{% extends 'base.html' %}
{% load static %}

{% block title %} ورود به اکانت  {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'Spends/Style/login.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
        {% csrf_token %}
        <h1 id="main-title">تغییر رمز</h1>
        {{ form.password }}
        {{ form.again_password }}
        <button type="submit">تغییر رمز عبور</button><br>
        </form>

    {% if form.non_field_errors %}
        <div id="error-message" class="error-box">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if messages %}
        {% for msg in messages %}
            <div id="error-message" class="success-box">
            {{ msg }}
            </div>
        {% endfor %}
    {% endif %}

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'Spends/Js/register.js' %}"></script>
{% endblock %}